<div class="container row">
  <header role="banner" class="row">
    <h1 class="col span_8 title_color main_font">Welcome to Rant Overflow</h1>
    <h5 class="row span_4"><%= ApplicationHelper::quote %></h5>
  </header>




<%= render 'form', question: @question %>


<h4>current rants:</h4>
<ul class="list" id="questions">
  <% @questions.each do |question| %>
  <li>
    <%= link_to content_tag(:i,nil, :class=>"fa fa-thumbs-up"), upvote_question_path(question), :method => :post, :remote => true  %>

   <%= link_to content_tag(:i,nil, :class=>"fa fa-thumbs-down"), downvote_question_path(question), :method => :post, :remote => true  %>

  <%= link_to question.title, question_path(question) %>
  Total Votes: <%= link_to question.vote_count, question_path(question.id), :id => question.id, :method => :put %>
  </li>
  <% end %>
</ul>
</div>
<div id="error_list">
</div>
