<h2><%= @question.title %></h2>
<span> Votes: <%= @question.vote_count %></span>
  <%= link_to content_tag(:i,nil, :class=>"fa fa-thumbs-up"), upvote_question_path(@question), :method => :post %>

  <%= link_to content_tag(:i,nil, :class=>"fa fa-thumbs-down"), downvote_question_path(@question), :method => :post %>

  <%= link_to @question.title, question_path(@question) %>
  Total Votes: <%= link_to @question.vote_count, question_path(@question), :method => :put %>
<p><%= @question.text %></p>


<%= link_to "Edit question", edit_question_path(@question) %>
<%= link_to "Delete question", question_path(@question), method: :delete, data: { confirm: 'Are you sure?' } %>

<h3>Answers</h3>
<% @question.answers.each do |answer| %>
<ul>
  <li><%= answer.text %></li>
</ul>
<% end %>


<h2>Add an answer</h2>
<%= render "answers/form" %>

<%= link_to "Back to index", questions_path %>

